{% extends 'base.html' %}

{% block content %}



<style>
.col {
  border:2px solid red;
}
</style>

<h2>cities</h2>

    <div class="row">
    <div class="col s4" style="padding:10px;">
      <h4>Cities</h4>
      <div>
        IMAGE THEN TITLE DIV TO RIGHT
      </div>
    </div>
    <div class="col s8">
      <div class="container">

        <div class="row">
          <div class="col s4">
            <h4>London</h4>
            <h6>United Kingdom</h6>
          </div>
          <div class="col s8 right right-align">
            <img src="https://imageproxy.themaven.net//https%3A%2F%2Fwww.history.com%2F.image%2FMTYyNDg1MjE3MTI1Mjc5Mzk4%2Ftopic-london-gettyimages-760251843-promo.jpg" style="max-width:100%; height:auto;" alt="">
          </div>
        </div>


        <div class="row">
          <h5>Posts</h5>
        </div>


        <div class="row" style="margin-top:0; margin-bottom:0;">
          <div class="col s2">
            <h6>cesario</h6>
            <h6>city</h6>
          </div>
          <div class="col s10">
            <h5 style="margin-top:5px;">Title</h5>
            <p style="text-overflow: ellipsis;  ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum cum asperiores, facilis architecto beatae modi consectetur? Nobis, cupiditate. Ea maxime facere quibusdam aut deserunt animi, eaque eligendi! Iusto, distinctio odit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex eius eveniet iste quibusdam quasi non ullam deleniti qui iure. Eligendi at asperiores ex repellat obcaecati. Laudantium quisquam consequuntur harum eligendi?</p>
          </div>
        </div>


      </div>
    </div>
  </div>



{% endblock  %}