{% extends 'base.html' %}

{% block content %}


<div class='row'>
  <div class='col s4'>    
    <h2>Topic</h2>
    <div class='card'>
      <div class='card-content'>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sapiente libero dolore officiis odio illo sit adipisci cum repellat aliquid! Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam commodi numquam temporibus ipsa adipisci nam doloribus optio saepe amet voluptate!
      </div>
    </div>
  </div>
  <div class='col s4'>
    <h2>Wayfarer is...</h2>
    {% comment %} <h2>Topic</h2> {% endcomment %}
    <div class='card'>
      <div class='card-content'>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quaerat dolor reiciendis deleniti eos ipsum illo illum perferendis voluptas nulla quibusdam sit laborum blanditiis sint earum vel odit pariatur quidem id, vero assumenda expedita autem voluptatibus ut! Quam, porro eaque?
      </div>
    </div>
  </div>
  <div class='col s4'>
    <h2>Topic</h2>
    <div class='card'>
      <div class='card-content'>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quaerat dolor reiciendis deleniti eos ipsum illo illum perferendis voluptas nulla quibusdam sit laborum blanditiis sint earum vel odit pariatur quidem id, vero assumenda expedita autem voluptatibus ut! Quam, porro eaque?
        
      </div>
    </div>
  </div>
</div>






{% endblock  %}