/* dev borders */
/* .col {
  border:2px solid red;
} */
/* dev borders */

body {
  background-color:#969696;
}

/* profile styles */

.profile {
  margin-top: 40px;
  width: 80%;
  margin: 0 auto;
}

.profile .card {
  background-color:inherit;
}

.profile .card-content, .profile h4 {
  color:#fff;
}

.profile .card-content {
  font-size:20px;
}

.profile-edit-card {
  box-shadow:none;
}

.recent-post {
  margin-top:20px;
  padding:20px;
  width:60%;
  background-color:#b3b3b3;
  border-radius:10px;
}

/* styles from misc */

.container .row {
  margin-top:40px;
}

.post .card {
  border:2px solid #777;
  box-shadow: none;
  -webkit-box-shadow: none;
}

a.brand-logo, nav ul a {
  color:#c6ff00;
}

nav ul a {
  font-weight:bold;
}

a.recent-post {
  background-color: #6d6d6d;
}

a.post-link {
  color:#fff;
}

.hoverable:hover {
  box-shadow: 10px 10px #fff;
}

.post-link:hover {
  box-shadow: 10px 10px grey;
  text-decoration: underline;
}




/* Cities page styles */

div.container h4, .cities-sidebar h4 {
  margin-top:0;
}

div.container > .row:first-of-type {
  margin-top:0;
}
div.container img {
  border:2px solid #263238;
}

.card .card-image img.cities-sidebar-thumb  {
  width:150px;
  height:100px;
}

.cities-post-preview {
  padding:10px 0 10px 15px;
}

.cities-sidebar .card .card-content {
  padding-left:5px;
  padding-top:10px;
}

.cities-post-preview .card-content {
  padding-left:0;
}

.cities-sidebar .card {
  padding: 5px 0 0 15px;
}


.cities-posts-header {
  display:inline-block;
}



/* global styles */


.btn, .btn-floating, .btn-large{
  background-color: #607d8b;
}
.btn:visited, .btn-floating, .btn-large{
  background-color: #c6ff00;
  color:#263238;
}
.btn:hover, .btn-floating, .btn-large {
  background-color: #c6ff00;
  color:#263238;
}
.btn:active, .btn-floating, .btn-large{
  background-color:#c6ff00;
  color:#263238;
}
.btn:focus, .btn-floating, .btn-large{
  background-color: #c6ff00;
  color:#263238;
}