/* dev borders */
/* .col {
  border:2px solid red;
} */
/* dev borders */


.nav {
  
}


.profile {
  margin-top:40px;
}

.profile .card {
  border:2px solid #777;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.container .row {
  margin-top:40px;
}

.post .card {
  border:2px solid #777;
  box-shadow: none;
  -webkit-box-shadow: none;
}

a.brand-logo, nav ul a {
  color:#c6ff00;
}

nav ul a {
  font-weight:bold;
}

a.recent-post {
  border:2px solid #000;
}

.hoverable:hover {
  box-shadow: 10px 10px #26a69a;
}

.post-link:hover {
  box-shadow: 10px 10px grey;
  text-decoration: underline;
}




/* Cities page styles */

div.container h4, .cities-sidebar h4 {
  margin-top:0;
}

div.container > .row:first-of-type {
  margin-top:0;
}

.card .card-image img.cities-sidebar-thumb  {
  width:150px;
  height:100px;
}

.cities-post-preview {
  padding:10px 0 10px 15px;
}

.cities-sidebar .card .card-content {
  padding-left:5px;
  padding-top:10px;
}

.cities-post-preview .card-content {
  padding-left:0;
}

.cities-sidebar .card {
  padding: 5px 0 0 15px;
}


.cities-posts-header {
  display:inline-block;
}