  {% comment %} <a class='waves-effect waves-light red btn btn-floating btn-large modal-trigger' data-target='modal-delete-post'><i class="material-icons dp48">delete</i></a> {% endcomment %}
  <a class='waves-effect waves-light btn modal-trigger' data-target='modal-delete-post'>Delete</a>


  {% comment %} <a class='waves-effect waves-light red btn btn-floating btn-large modal-trigger' data-target='modal-delete-post'><i class="material-icons dp48">delete</i></a> {% endcomment %}


  <div id='modal-delete-post' class='modal'>
    <div class='modal-content'>
      <form id='id_delete-post-confirm' method='post' action='{% url 'delete_post' post.id %}' >
        <div class="dialog content">Are you sure you want to delete {{post.title}}?</div>
        {% csrf_token %}
        <input type='submit' class='btn red' value='delete'>
        <input type='hidden' name='next' value='{{ next }}'>
      </form>
    </div>
    <div class='modal-footer'>
      <a href='#!' class='modal-close waves-effect waves-green btn-flat'></a>
    </div>
  </div>

  <script>
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, {});
  </script>
